/* 라이브러리 */
.border-red {
  border:4px solid red;
}

.border-pink {
  border:4px solid pink;
}

.border-blue {
  border:4px solid blue;
}

.border-green {
  border:4px solid green;
}

.border-black {
  border:4px solid black;
}

.border-gold {
  border:4px solid gold;
}

.flex {
  display:flex;
}

.flex-jc-e {
  justify-content:flex-end;
}

.flex-jc-s {
  justify-content:flex-start;
}

.flex-jc-c {
  justify-content:center;
}

.flex-jc-sb {
  justify-content:space-between;
}

.flex-ai-c {
  align-items:center;
}

.flex-as-c {
  align-self:center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.height-100p {
  height:100%;
}

.block {
  display:block;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.relative {
  position: relative;
}

.img-box > img {
  width: 100%;
  display: block; /* 쓸데없는 여백을 제거하기 위해 */
}

/* 커스텀 */
.con {
  width: 1080px;
}

.con-min-width {
  min-width: 1080px;
}



/* 임시 */

body {
  height: 10000px;
}